In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
os.listdir("../../../../../")

['allias.save',
 '.octaverc',
 '.config',
 'Music',
 '.docker',
 'lmms',
 '.virtualenvs',
 '.DS_Store',
 'nltk_data',
 '.CFUserTextEncoding',
 'edb_languagepack.app.zip',
 '.bash_profile~',
 '.vaex',
 '.local',
 '.psql_history',
 '.dask',
 'Pictures',
 '.pylint.d',
 '.mitmproxy',
 '.ipython',
 'Desktop',
 'Library',
 '.matplotlib',
 'gensim-data',
 '.oracle_jre_usage',
 'seaborn-data',
 '.bash_profile.pysave',
 '.octave_hist',
 '.android',
 '.pgadmin',
 'scikit_learn_data',
 '.cups',
 '.bash_sessions',
 'coco',
 'Google Drive',
 'Public',
 '.bash_profile-anaconda3.bak',
 '.idlerc',
 '.lmmsrc.xml',
 '.ssh',
 'Movies',
 'Applications',
 '.freemind',
 '.anaconda_backup',
 '.Trash',
 '.ipynb_checkpoints',
 '.jupyter',
 '.keras',
 '.npm',
 'Documents',
 '.pgpass',
 'causalml',
 '.vscode',
 '.bash_profile',
 'Downloads',
 '.python_history',
 '.cache',
 '.gitconfig',
 '.bash_history',
 '.viminfo',
 '.conda',
 'matlab_crash_dump.10992-1']

In [7]:
av_sales_df = pd.read_csv("../../../../../Downloads/Moving Average Example - Data.csv")

In [8]:
av_sales_df.head()

       Date   Sales
0  1/1/2009   7,855
1  1/2/2009  12,329
2  1/3/2009  11,617
3  1/4/2009   7,684
4  1/5/2009   8,448

In [12]:
av_sales_df.dtypes

Date     object
Sales    object
dtype: object

In [23]:
av_sales_df.Sales = [float(str(i).replace(",","")) for i in av_sales_df.Sales]

In [24]:
av_sales_df.dtypes

Date      object
Sales    float64
dtype: object

In [25]:
av_sales_df["7_day_mean"] = av_sales_df.Sales.rolling(window=7).mean()

In [30]:
av_sales_df["14_day_mean"] = av_sales_df.Sales.rolling(window=14).mean()

In [40]:
av_sales_df["Date"] = pd.to_datetime(av_sales_df["Date"])

In [41]:
av_sales_df[av_sales_df.Date == "2009-03-19"]

         Date   Sales   7_day_mean  14_day_mean
77 2009-03-19  8497.0  9938.428571  9981.071429